
.cuadro{
    background-color: var(--DarkGrey);
    padding: 20px 0px 20px 0px;
    border-radius: 5%;
    margin:150px auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 300px; 
}
