
:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}
.titulo{
    /* background-color: blue; */
    text-align: center;
}
.Imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
.Imagen img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
h4{
    color: var(--Green);
    font-family: 'Inter','Arial';
}
h2{
    color: var(--White);
    font-family: 'Inter','Arial';
}
p{
    color: darkgray;
    font-family: 'Inter','Arial';
    font-size: 13px;
}


