.Episodio_character {
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
  }
  
  .Episodio_character h2 {
    margin-bottom: 10px; /* Agregar un margen inferior para separar el título del contenido */
  }
  
  .Episodios_character {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 30px;
    
  }
  
  /* Estilos para cada episodio */
  .Episodios_character > div {
    flex: 0 0 auto;
    margin-right: 20px;  
  }
  